@use "styles/index" as index;
@use "styles/fonts" as fonts;

* {
	box-sizing: border-box;
	font-family: Arial, monospace;
}

.title {
	font: fonts.$title;
}

.text {
	font: fonts.$text;
}

body {
	padding-top: index.$navbar-height;
}
